a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  -webkit-padding-start: 0px
}

.body {
  background: #f9f9f9;
}

.text {
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 18px;
}

.boldText {
  font-weight: 600;
}

.secondaryText {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .6px;
  line-height: 16px;
  text-transform: uppercase;
}

.base {
  font-family: proxima-nova,Proxima Nova,helvetica,arial,sans-serif;
  margin: 0px;
}

.featured {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  line-height: 24px;
}

.default {
  color: #000;
}

.subtle {
  color: #999;
}

.userImage {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
