// ======================
// Base Styles
// ======================

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary
}

header {
  text-align: center;
  padding: em(48px) 0;
}

h1 {
  font-weight: font-weight--light;
  font-size: em(42px);
  line-height: (46px / 42px);
  margin-bottom: em(70px, 42px);
}

h2 {
  font-family: 'Helvetica Neue', Helvetica,Arial, sans-serf;
  font-weight: 100;
  font-size: 1.5em;
}
