// ======================
// Global Config
// ======================

// Font Stacks

$font-family--primary:     'Helvetica Neue', Helvetica,Arial, sans-serf;
$font-family--secondary:   'Helvative Neue';

// Font Weights

$font-weight--thin:        100;
$font-weight--light:       300;
$font-weight--medim:       400;
$font-weight--bold:        700;
$font-weight--ultra-bold:  900;

// Descriptive Base Colors

$white:                    #fff;
$black:                    #0b0b0b;
$gray:                     #797e83;
// other colors tbd: http://chir.ag/projects/name-that-color

// Color Usage

$color-primary:            $black;
$color-secondary:          $gray;

// UI Colors



// Text

$base__font-size:         16px;
$base__line:              24px;
